<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Google+Sans:300,400,500,600,700|Google+Sans+Text:400,500,700&amp;display=block"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: auto;
        color: #ffffff;
        font-size: 14px;
        font-family: "Consolas", monospace;
      }
      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      #output {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <div id="output"></div>
    <script>
      function print(...args) {
        const message = args
          .map((arg) => {
            if (typeof arg === "object") {
              return JSON.stringify(arg, null, 2);
            }
            return String(arg);
          })
          .join(" ");
        const output = document.querySelector("#output");
        output.innerHTML += message + "<br>";
      }
    </script>
    <script>
      const log = console.log;
      console.log = function (...args) {
        log.apply(console, args);
        print(...args);
      };

      // const error = console.error;
      // console.error = function (...args) {
      //   error.apply(console, args);
      //   print(...args);
      // };
    </script>
    <script>
      try {
        // Persistent scope object
        const scope = {};

        function runCell(code) {
          try {
            const scopedCode = `
                (function(scope) {
                    with (scope) {
                        ${code}
                    }
                })(scope);
            `;

            eval(scopedCode); // run in shared scope
          } catch (err) {
            console.error(err);
            print("❌ Execution error:", err.toString());
          }
        }

        runCell(`23b80585-059d-4b4e-a4d3-b0c1a36dff0b`);
      } catch (e) {
        output.innerHTML += "⚠️ Error: " + e.message;
        console.error(e);
      }
    </script>
  </body>
</html>
